@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");



header, footer {
  background-color: #393F4A;
}

p {
  font-family: "Jura", system-ui;
  color: white;
  padding: 0.5vw;
}

strong {
  padding-right: 1em;
}



.aboutMeDiv {
  padding-top: 8em;
  padding-left: 25em;
  padding-right: 25em;
  background-color: #393F4A;
  align-items: end;
  max-height: 780px;
}

.apologyText {
  font-family: "Jura", system-ui;
  font-size: 0.7vw;
  background-color: #ea2b1f;
  border-radius: 10px;
  color: white;
}

.brand {
  color: white;
  font-size: 1.1vw;
}

.btn {
  background-color: #D27D2D;
  width: 5.5vw;
  border-radius: 50px;
  color: #393F4A;
 font-family: "Jura", system-ui;
  font-weight: bold;
  padding: 0.2vw;
  font-size: 0.6vw;
}

.btn:hover {
  background-color: white;
  color: #393F4A;
  font-family: "Jura", system-ui;
  font-weight: bold;
}

.badge {
  background-color: red;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

.card {
  border: 1px solid #f5f3f4;
  border-radius: 10px;
  width: 15%;
  margin: 2vw;
}

.cardIcon {
  justify-self: center;
  align-self: center;
}

.card-title {
  font-family: "Jura", system-ui;
  font-size: 1vw;
}

.card-text {
  font-size: 0.7vw;
  color: #393F4A;
}

.connectIcon {
  width: 1.5vw;
  margin-left: 1em;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
}

.connectIcon:hover {
  color: #393F4A;
  box-shadow: 0 0 10px;
}

.connectText {
  font-size: 0.7vw;
}

.categoryName {
  color: #393F4A;
  font-family: "DynaPuff", system-ui;
  font-size: 0.8vw;
}

.filterMenu {
  width: 15vw;
  height: 90vh;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-top: 3em;
  font-family: "Jura", system-ui;
}

.filterMenuIcon {
  width: 2vw;
  height: 2vw;
  display: flex;
  justify-self: center;
  align-self: center;
}

.filterTitle {
  color: #393F4A;
  font-size: 1.5vw;
  margin: 0;
  font-family: "DynaPuff", system-ui;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
  padding: 15px;
  gap: 5px;
}

.flex-container > div {
  border-radius: 5px;
  padding: 8px;
}

.latestTitle {
  color: white;
  font-family: "Jura", system-ui;
  font-size: 1.5vw;
}

.latestImgHeight {
  width: 60%;
  border-radius: 10px;
}

.latestImgWidth {
  height: 5%;
  border-radius: 10px;
}

.main {
  padding: 2vw;
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.mainBody {
  padding: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.mainHeaderText {
  align-self: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.mainNavText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
}

.modal {
  width: 100vw;
}

.modalBtn {
  background-color: transparent;
  color: #393F4A;
  font-size: 0.8vw;
  width: 100%;
}

.modalBtn:hover {
  color: #D27D2D;
  text-decoration: none;
}

.modal-title {
  font-family: "Jura", system-ui;
  font-size: 1.5vw;
  color: #393F4A;
}

.modal-text, li {
  font-family: "Jura", system-ui;
  font-size: 1vw;
  color: #393F4A;
}

.modalImg {
  width: 20vw;
}

.navLink {
  font-weight: bold;
  font-size: 0.6vw;
}

.navLink:hover {
  text-decoration: underline 3px #D27D2D;
}

.nav-menu-item {
  color: white;
}

.navmenu {
  gap: 10px;
  margin-left: 15vw;
}

.navIcon {
  width: 8vw;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.navIcon:hover {
  color: #D27D2D;
  box-shadow: 0 0 100px;
}

.newsDiv {
  background-color: #393F4A;
}

.newsTitle {
  font-size: 2vw;
  padding-left: 15vw;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 2em;
  font-weight: bold;
  background-color: #D27D2D;
  color: #393F4A;
}

.newsPostTitle {
  margin: 0;
  margin-left: 1.6vw;
  font-size: 1.3vw;
  font-weight: bold;
}

.newsText {
  margin-left: 2vw;
  padding-right: 15vw;
  font-size: 1vw;
}

.newsPost {
  margin: 0;
  margin-left: 15vw;
  font-size: 1.5vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.newsImg {
  width: 12vw;
  height: 12vw;
  border-radius: 1vw;
  margin: 0.7vw;
}

.profilHalfImg {
  width: 10vw;
  padding-right: 1vw;
}

.profilName {
  font-size: 2vw;
  padding: 0;
  padding-left: 0.5vw;
  margin: 0;
}

.profilTitle {
  font-size: 1vw;
  padding-top: 0;
  font-weight: bold;
}

.profilInfo {
  font-size: 0.8vw;
  padding-top: 0.5vw;
}

.printBtn {
  background-color: transparent;
  width: 1vw;
  padding: 2%;
}

.photo {
  border-radius: 30px 30px 0px 0px;
}

.recipeImg, .photoImg, .diyModalImg {
  width: 40%;
  border-radius: 10px 10px 0px 0px;
}

.recipeModalImg {
  width: 10%;
  border-radius: 10px;
}

.recipeList, .photoList, .diyList {
  margin: 2vw;
}

.timelineTitle {
  text-align: center;
  color: #393F4A;
  font-size: 1.5vw;
  padding-top: 3vw;
  margin: 0;
  font-family: "DynaPuff", system-ui;
}



.welcomeHeader {
  font-family: "DynaPuff", system-ui;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  font-weight:bold; 
  font-size : 3vw;
}
.welcomeText {
  font-family: "Jura", system-ui;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  font-size : 1vw;
}

body {
  font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif; 
  font-size: 16px;
  line-height: 1.75;
}

#timeline {
  display: flex;
  background-color: #031625;

  &:hover {
    .tl-item {
      width: 23.3333%;
    }
  }
}

.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 20%;
  height: 80vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
  
  &:before, &:after {
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
  }

  &:after {
    background: transparentize(#031625, 0.15);
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  &:before {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 75%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  &:hover {
    width: 30% !important;
    
    &:after {
      opacity: 0;
    }

    &:before {
      opacity: 1;
      transform: translate3d(0, 0, 0) translateY(0);
      transition: opacity 1s ease, transform 1s ease 0.25s;
    }
    
    .tl-content {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.75s ease 0.5s;
    }

    .tl-bg {
      filter: grayscale(0);
    }
  }
}

.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 1vw;
  top: 55%;
  opacity: 0;
  
  h1 {
    font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    color: #D27D2D;
    font-size: 1.3vw;
    font-weight: normal;
  }
}

.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  
  p {
    font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.5vw;
    line-height: 0;
    padding: 1vw;
  }
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}

